body {
    font-family: 'Lato', sans-serif;
    background-color: #f5f6f6;
    color: #3a3a3a;
}

nav {
    font-weight: 300;
    z-index: 200;
}

.navbar-brand img {
    height: 60px;
}

.navbar-wrapper {
    position:;
}
.carousel {
    top:0;
}
.carousel-inner {
    width: 100%; 
    overflow: hidden;
    }

.navbar {
    top:0;
    z-index:200;
    width:100%;
}

.bg-navbar {
    background-color: #3a3a3a;
}
